<body>
{% include 'partials/header.partial.twig' %}
    <main>
        {% block contents %}{% endblock %}
        {% include 'partials/footer.partial.twig' %}
    </main>
{% block scripts %}{% endblock %}
</body>