<footer class="footer">
    <small>&copy;2025 MJM Consulting &amp; Bookkeeping, LLC</small>
    <p>Created with &hearts; by <a href="https://www.haydenbradfield.com/" class="footer__author-link">Hayden Bradfield</a></p>
</footer>