<header class="header">
    <div class="container">
        <div class="header__one">
            <a href="/" class="header__logo">
                <img class="logo" src="/public/assets/img/mjm_logo_black.png" alt="logo" />
                <h1>MJM Consulting & Bookkeeping</h1>
            </a>
        </div>
        <div class="header__two">
            <nav class="header__nav">
                <a href="/" class="hide-mobile">Home</a>
                <a href="/contact">Contact</a>
                <a href="/request-consultation" class="link-btn">Request Consultation</a>
            </nav>
        </div>
    </div>
</header>