<section class="features">
    <div class="figcap">
        <img class="figcap__img" src="/public/assets/img/shake_hands.webp" alt="shake hands">
        <div class="figcap__content">
            <h3 class="figcap__title">Discover Our Remarkable Customer Service</h3>
            <p class="figcap__text">
                Let’s face it, accountants are leaving the profession in large numbers, and you never hear back from your accountant. We respond to your emails, and we call you back!
            </p>
            <a class="figcap__btn btn--primary" href="/request-consultation">Book Your First Appointment</a>
        </div>
    </div>
    <div class="figcap figcap--alt">
        <div class="figcap__content figcap__content--alt">
            <h3 class="figcap__title">Experience Our Training and Support</h3>
            <p class="figcap__text">
                Experience peace of mind that your staff is trained and more confident in handling your money. Nobody likes surprises from your CPA at tax time.
            </p>
            <a class="figcap__btn btn--primary" href="/request-consultation">Reserve Your Spot Today</a>
        </div>
        <img class="figcap__img figcap__img--alt" src="/public/assets/img/ed_img.webp" alt="shake hands">
    </div>
</section>