<section class="hero">
    <div class="about-brief">
        <p>Do you dislike the accounting part of your business? Do you want to understand your reports in terminology you can understand? Let us help with the work you dislike, to free you to do what you do best &mdash; YOUR business!</p>
    </div>
    <div class="portrait-box">
        <div class="portrait-box__content">
            <h2>Nola Swartz</h2>
            <h3>Consultant</h3>
        </div>
        <img  class="portrait-box__img" src="/public/assets/img/nola_portrait.webp" alt="Nola Swartz">
    </div>
</section>