<section class="stats">
    <div class="stats__grid">
        <div class="stat-item">
            <div class="stat-item__figure">&gt; <span id="helped-clients-figure">100</span></div>
            <div class="stat-item__text">Clients Helped</div>
        </div>
        <div class="stat-item">
            <div class="stat-item__figure">$<span id="saved-figure">1000</span>'s</div>
            <div class="stat-item__text">Saved</div>
        </div>
        <div class="stat-item">
            <div class="stat-item__figure">$1M+</div>
            <div class="stat-item__text">Recovered from <br /> Book Cleanup</div>
        </div>
        <div class="stat-item">
            <div class="stat-item__figure">$1.5M+</div>
            <div class="stat-item__text">Cash Flow <br /> Identified</div>
        </div>
    </div>
</section>