<section class="testimonial">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="testimonial__slide-contents">
                    <div class="testimonial__stars">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                    </div>
                    <p class="testimonial__text">
                        Running a 100+ person Architecture/Engineering Firm has its challenges. Nola helped us be better! She possesses the ability to listen to concerns, perform a “hands-on” assessment, and thoughtfully educate and lead to the best solution. She also went above and beyond in troubleshooting, improving our processes, and training our accounting staff. I would highly recommend Nola without hesitation.
                    </p>
                    <p class="testimonial__person">&mdash; Eddie J. <span class="testimonial__person-title">/ CEO</span></p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial__slide-contents">
                    <div class="testimonial__stars">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                    </div>
                    <p class="testimonial__text">
                        We are a small company and are so fortunate to have found Nola and MJM Consulting. Nola personally trained me in the basics of quickbooks and has been reviewing our books each year (and catching my mistakes). She is thorough and patient as I learn. She is great at what she does and has helped our small business immensely.
                    </p>
                    <p class="testimonial__person">&mdash; Lance A.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial__slide-contents">
                    <div class="testimonial__stars">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffea00" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z"/></svg>
                    </div>
                    <p class="testimonial__text">
                        <div class="testimonial__text--partial">
                        I first met Nola in the fall of 2023 when my nonprofit needed help reviewing, cleaning up, and setting up our financial records. Our financials had been handled manually for over 50 years, so we knew there would be a significant amount of work to get them organized.
                        </div>
                        <button class="testimonial__expansion-btn nancy-testimonial-more-btn">Expand more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6z"/></svg></button>
                        <div class="testimonial__text--expansion nancy-testimonial-expansion">
                            <p>Additionally, we needed to transfer from a desktop version of QuickBooks to QuickBooks Online, and we wanted our financial reports to align with our 990 tax returns to simplify year-end reporting for general, program, and fundraising expenses.</p>
                            <p>I contacted six different companies for pricing and to evaluate their services. Choosing Nola was a no-brainer. She was the only consultant who asked enough thoughtful and detailed questions to give me confidence in her thoroughness and integrity.</p>
                            <p>Once we started working with Nola, she proved to be remarkably efficient, quickly tackling our outdated records, transferring the data to QuickBooks Online, and providing me with excellent training. She showed me how to set up and use classes in QuickBooks to align our expenses with our 990 reporting. She went above and beyond at every stage of this complex project, dedicating extra time and effort to ensure everything was done right—and she did it all with incredible patience.</p>
                            <p>Nola&apos;s expertise, professionalism, and dedication were invaluable, and I would recommend her without hesitation to any business or nonprofit in need of bookkeeping, consulting, or financial review services.</p>
                        </div>
                        <p class="testimonial__person">&mdash; Nancy M.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>