{% embed 'partials/page.partial.twig' %}
    {% block head %}
        {% from 'partials/head.macro.twig' import head_macro %}
        {{ head_macro('MJM Consulting and Bookkeeping by Nola Swartz | Contact', 'MJM Consulting TN | Contact Me', '') }}
    {% endblock head %}
    {% block body %}
        {% embed 'partials/body.partial.twig' %}
            {% block contents %}
                <div class="main-view">
                    <section class="contact-section">
                        <aside class="contact-section__sidebar">
                            <h2 class="heading2">Contact Me</h2>
                            <div class="contact-info">
                                <h3>Nola Swartz</h3>
                                <!-- <p>&lpar;865&rpar; 000-0000</p> -->
                                <p><a class="mail-link" href="mailto:nola@mjmconsultingtn.com">nola@mjmconsultingtn.com</a></p>
                            </div>
                            <img src="/public/assets/img/nola_portrait.webp" class="contact-portrait" alt="Nola Swartz" />
                        </aside>
                        <div class="contact-section__main">
                            <form id="contact-form" autocomplete="off">
                                <div class="grid grid--2">
                                    <div class="form-group">
                                        <div class="text-field">
                                            <input type="text" name="first-name" id="first-name" class="text-field__input" placeholder=" "/>
                                            <label for="first-name" class="text-field__label">First Name</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-field">
                                            <input type="text" name="last-name" id="last-name" class="text-field__input" placeholder=" "/>
                                            <label for="last-name" class="text-field__label">Last Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-field">
                                        <input type="email" name="email" id="email" class="text-field__input" placeholder=" "/>
                                        <label for="email" class="text-field__label">Email</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-field">
                                        <input type="text" name="subject" id="subject" class="text-field__input" placeholder=" "/>
                                        <label for="subject" class="text-field__label">Subject</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea name="message-body" id="message-body" class="textarea" placeholder="Your Message Here..."></textarea>
                                </div>
                                <ul class="errbox"></ul>
                                <div class="form-group">
                                    <button type="submit" class="subbut">Submit</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            {% endblock contents %}
            {% block scripts %}
                <script src="/public/assets/js/contact.min.js"></script>
            {% endblock scripts %}
        {% endembed %}
    {% endblock body %}
{% endembed %}