<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MJM Consulting | Nola Swartz | Contact Me</title>
    <meta property="og:site_name" content="MJM Consulting Tennessee" />
    <meta property="og:title" content="MJM Consulting Tennessee | Nola Swartz | Request Consultation" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.mjmconsultingtn.com/request-consultation" />
    <meta property="og:image" content="https://www.mjmconsultingtn.com/assets/img/nola_portrait.webp" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/assets/style/main.css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__one">
                <a href="/" class="header__logo">
                    <img class="logo" src="/public/assets/img/mjm_logo_black.png" alt="logo" />
                    <h1>MJM Consulting & Bookkeeping</h1>
                </a>
            </div>
            <div class="header__two">
                <nav class="header__nav">
                    <a href="/" class="hide-mobile">Home</a>
                    <a href="/contact">Contact</a>
                    <a href="/request-consultation" class="link-btn">Request Consultation</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="main-view">
            <section class="request-consultation-section">
                <div class="request-consultation-section__heading">
                    <img class="request-consultation-section__image" src="/public/assets/img/hello_phone_small.jpg" alt="hello phone image" />
                    <div class="request-consultation-section__heading-content">
                        <h2>Request a Free Consultation</h2>
                        <p>Please fill out the form below with your preferences, and we will be in touch soon!</p>
                    </div>
                </div>
                <form id="consult-form">
                    <div class="form-group">
                        <div class="text-field">
                            <input type="text" name="full-name" id="full-name" class="text-field__input" placeholder=" "/>
                            <label for="full-name" class="text-field__label">Full Name</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-field">
                            <input type="email" name="email" id="email" class="text-field__input" placeholder=" "/>
                            <label for="email" class="text-field__label">Email</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-field">
                            <input type="text" name="phone" id="phone" class="text-field__input" placeholder=" "/>
                            <label for="phone" class="text-field__label">Phone</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-field">
                            <select class="select-field__input" name="prefer-contact" id="prefer-contact" data-field="prefer-contact" onchange="onSelection(this)">
                                <option value="" selected disabled hidden></option>
                                <option value="phone">Phone Call</option>
                                <option value="email">Email</option>
                                <option value="text message">Text Message</option>
                            </select>
                            <label class="select-field__label">Preferred Contact Method</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-field">
                            <select class="select-field__input" name="best-time-contact" id="best-time-contact" data-field="best-time-contact" onchange="onSelection(this)">
                                <option value="" selected disabled hidden></option>
                                <option value="weekday mornings">Weekday Mornings</option>
                                <option value="weekday afternoon">Weekday After Noon</option>
                                <option value="weekday evening">Weekday Evenings</option>
                                <option value="weekend morning">Weekend Mornings</option>
                                <option value="weekend evenings">Weekend Evenings</option>
                            </select>
                            <label class="select-field__label">Best Day/Time to Contact</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <fieldset class="fieldset">
                            <legend>I am interested in...</legend>
                            <div class="fieldset__content fieldset__content--flex">
                                <div class="checkbox-field">
                                    <input type="checkbox" name="interest" value="business consulting" class="checkbox-field__input" />
                                    <label class="checkbox-field__label">Business Consulting</label>
                                </div>
                                <div class="checkbox-field">
                                    <input type="checkbox" name="interest" value="staff training" class="checkbox-field__input" />
                                    <label class="checkbox-field__label">Staff Training</label>
                                </div>
                                <div class="checkbox-field">
                                    <input type="checkbox" name="interest" value="quickbooks help" class="checkbox-field__input" />
                                    <label class="checkbox-field__label">Quickbooks Help</label>
                                </div>
                                <div class="checkbox-field">
                                    <input type="checkbox" name="interest" value="financial review" class="checkbox-field__input" />
                                    <label class="checkbox-field__label">Financial Review</label>
                                </div>
                                <div class="checkbox-field">
                                    <input type="checkbox" name="interest" value="bookkeeping" class="checkbox-field__input" />
                                    <label class="checkbox-field__label">Bookkeeping Services</label>
                                </div>
                                <div class="checkbox-field">
                                    <input type="checkbox" name="interest" value="software conversion" class="checkbox-field__input" />
                                    <label class="checkbox-field__label">Software Conversions</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <ul class="errbox"></ul>
                    <div class="form-group">
                        <button type="submit" class="subbut">Submit</button>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <footer class="footer">
        <small>&copy;2025 MJM Consulting</small>
        <p>Custom website by <a href="https://www.haydenbradfield.com/">Hayden Bradfield</a></p>
    </footer>
    <script src="https://unpkg.com/imask@7.6.1/dist/imask.js"></script>
    <script>
        const phoneInput = document.querySelector('#phone');
        const consultForm = document.querySelector('#consult-form');
        const errbox = document.querySelector('.errbox');

        const phoneMaskOptions = {
            mask: '(000) 000-0000'
        }

        IMask(phoneInput, phoneMaskOptions);


        const resetForm = (fields) => {
            for(let field in fields){
                if(field !== 'interests'){
                    fields[field].value = '';
                }
            }

            fields['interests'].forEach(i => {
                i.checked = false;
            });
        }
     

        const onSelection = function (target){
           
            console.log('called');
            if(target.value){
                const label = document.querySelector(`[data-field=${target.getAttribute('data-field')}] + label`);
                label.style.setProperty('transform', 'translateY(-2.8rem)');
                label.style.setProperty('font-size', '1.2rem');
            }else{
                label.style.setProperty('transform', 'translateY(0)');
                label.style.setProperty('font-size', '2.2rem');
            }
        }

        const getInterestValues = (interestFields) => {

            let values = [];

            interestFields.forEach(cb => {
                if(cb.checked){
                    values.push(cb.value);
                }
            });

            return values;

        }

        const validate = (fields) => {
            const errs = [];
            errbox.classList.remove('render');
            errbox.innerHTML = null;
            const emailRegExp = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/gi;
            const phoneRegExp = /^\([0-9]{3}\)\s[0-9]{3}\-[0-9]{4}$/g;

            (fields.fullName.value.trim().length < 2) && errs.push('Please enter a valid full name.');
            (!emailRegExp.test(fields.email.value.trim())) && errs.push('Please enter a valid email.');
            (!phoneRegExp.test(fields.phone.value.trim())) && errs.push('Please enter a valid phone number.');
            (!fields.preferContactMethod.value) && errs.push('Please select your prefered method of contact.');
            (!fields.bestTimeToContact.value) && errs.push('Please select a best time to contact.');
            (!getInterestValues(fields.interests).length) && errs.push('Please select at least one topic of interest.');

            if(errs.length){
                for(let err of errs){
                    errbox.insertAdjacentHTML('beforeend', `<li>${err}</li>`);
                }
                errbox.classList.add('render');
            }

            return !!!errs.length;
        }

        const submit = async evt => {

            evt.preventDefault();

            const fields = {
                fullName: document.querySelector('#full-name'),
                email: document.querySelector('#email'),
                phone: document.querySelector('#phone'),
                preferContactMethod: document.querySelector('#prefer-contact'),
                bestTimeToContact: document.querySelector('#best-time-contact'),
                interests: document.getElementsByName('interest')
            }

            if(!validate(fields)) return;

            try{

                const fd = new FormData();
                fd.append('full_name', fields.fullName.value.trim());
                fd.append('email', fields.email.value.trim());
                fd.append('phone', fields.phone.value.trim());
                fd.append('prefer_contact_method', fields.preferContactMethod.value);
                fd.append('best_time_contact', fields.bestTimeToContact.value);
                fd.append('interests', getInterestValues(fields.interests).join(', '));

                const response = await fetch('/process-consultation-form', {
                    mode: 'no-cors',
                    method: 'POST',
                    body: fd
                });

                if(!response.ok) throw new Error("Error");

                alert("Form has been successfully submitted!");

                resetForm(fields);

            }catch(err){
                console.error(err);
                errbox.insertAdjacentHTML('beforeend', `<li>An error has occurred.</li>`);
            }

        }

        consultForm.addEventListener('submit', submit);
    </script>
</body>
</html>