{% embed 'partials/page.partial.twig' %}
    {% block head %}
        {% from 'partials/head.macro.twig' import head_macro %}
        {{ head_macro('MJM Consulting | Nola Swartz', 'MJM Consulting TN', '') }}
    {% endblock head %}
    {% block body %}
        {% embed 'partials/body.partial.twig' %}
            {% block contents %}
            <div class="main-view">
                <section class="request-consultation-section">
                    <div class="request-consultation-section__heading">
                        <img class="request-consultation-section__image" src="/public/assets/img/hello_phone_small.jpg" alt="hello phone image" />
                        <div class="request-consultation-section__heading-content">
                            <h2>Request a Free Consultation</h2>
                            <p>Please fill out the form below with your preferences, and we will be in touch soon!</p>
                        </div>
                    </div>
                    <form id="consult-form">
                        <div class="form-group">
                            <div class="text-field">
                                <input type="text" name="full-name" id="full-name" class="text-field__input" placeholder=" "/>
                                <label for="full-name" class="text-field__label">Full Name</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-field">
                                <input type="email" name="email" id="email" class="text-field__input" placeholder=" "/>
                                <label for="email" class="text-field__label">Email</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-field">
                                <input type="text" name="phone" id="phone" class="text-field__input" placeholder=" "/>
                                <label for="phone" class="text-field__label">Phone</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="select-field">
                                <select class="select-field__input" name="prefer-contact" id="prefer-contact" data-field="prefer-contact" onchange="onSelection(this)">
                                    <option value="" selected disabled hidden></option>
                                    <option value="phone">Phone Call</option>
                                    <option value="email">Email</option>
                                    <option value="text message">Text Message</option>
                                </select>
                                <label class="select-field__label">Preferred Contact Method</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="select-field">
                                <select class="select-field__input" name="best-time-contact" id="best-time-contact" data-field="best-time-contact" onchange="onSelection(this)">
                                    <option value="" selected disabled hidden></option>
                                    <option value="weekday mornings">Weekday Mornings</option>
                                    <option value="weekday afternoon">Weekday After Noon</option>
                                    <option value="weekday evening">Weekday Evenings</option>
                                    <option value="weekend morning">Weekend Mornings</option>
                                    <option value="weekend evenings">Weekend Evenings</option>
                                </select>
                                <label class="select-field__label">Best Day/Time to Contact</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <fieldset class="fieldset">
                                <legend>I am interested in...</legend>
                                <div class="fieldset__content fieldset__content--flex">
                                    <div class="checkbox-field">
                                        <input type="checkbox" name="interest" value="business consulting" class="checkbox-field__input" />
                                        <label class="checkbox-field__label">Business Consulting</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" name="interest" value="staff training" class="checkbox-field__input" />
                                        <label class="checkbox-field__label">Staff Training</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" name="interest" value="quickbooks help" class="checkbox-field__input" />
                                        <label class="checkbox-field__label">Quickbooks Help</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" name="interest" value="financial review" class="checkbox-field__input" />
                                        <label class="checkbox-field__label">Financial Review</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" name="interest" value="bookkeeping" class="checkbox-field__input" />
                                        <label class="checkbox-field__label">Bookkeeping Services</label>
                                    </div>
                                    <div class="checkbox-field">
                                        <input type="checkbox" name="interest" value="software conversion" class="checkbox-field__input" />
                                        <label class="checkbox-field__label">Software Conversions</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <ul class="errbox"></ul>
                        <div class="form-group">
                            <button type="submit" class="subbut">Submit</button>
                        </div>
                    </form>
                </section>
            </div>
            {% endblock contents %}
            {% block scripts %}
                <script src="https://unpkg.com/imask@7.6.1/dist/imask.js"></script>
                <script src="/public/assets/js/consultation.min.js"></script>
            {% endblock scripts %}
        {% endembed %}
    {% endblock body %}
{% endembed %}