* {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 10rem;
}



.header {
    background: #000;
    height: 10rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.24);
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    z-index: 100;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 120rem;
        margin:0 auto;
        height: 10rem;
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        text-decoration: none;
        font-family: "Poiret One", serif;
        font-size: 1.2rem;
        color: #fff;
    }

    &__one {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-toggle {
        display:none;
        border:none;
        background:transparent;
        outline: none;
        align-items: center;
        justify-content: center;
    }

    &__nav {

        display: flex;
        align-items: center;

        a,
        a:visited,
        a:link {
            font-size: 1.8rem;
            text-transform: uppercase;
            text-decoration:none;
            margin:0 1.25rem;
            color: #aaa;
            letter-spacing: 1px;
            display:block;
        }

    }
}


a.link-btn,
a.link-btn:visited,
a.link-btn:link,
.btn--primary {
    background: #5f8fa3;
    padding: .8rem 1rem;
    color: #fff;
    border-radius: .5rem;
    transition: background .3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background: #4c7282;
    }
}

.hero {
    min-height: 50vh;
    padding:14rem 2rem 6rem 2rem;
    // background: #ccd7dc;
    background: linear-gradient(to bottom right, rgba(255,255,255,.5), rgba(255,255,255,.6)), url('/public/assets/img/tax_img.jpg') center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-brief {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    min-height: 30rem;
    padding: 2rem;
    font-size: 2.4rem;
    background: #e9f3f8;;
    color: #555;
    box-shadow: 0 0 .5rem rgba(0,0,0,.24);
    margin-bottom: 3rem;
    border-right: 8px solid #73a2b4;
    user-select: none;
}

.bulb-icon {
    margin-bottom: 2rem;
}


.portrait-box {
    height:20rem;
    max-width:50rem;
    border:6px solid #d9e3e8;
    display:flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: .8rem;
    box-shadow:0 0 .8rem rgba(0,0,0,.24);

    &__content {
        padding: 2rem;
        min-width: 16rem;
        display:flex;
        flex-direction: column;
        height: 20rem;
        align-items: center;
        justify-content: center;
        background: #e9f3f8;

        h2 {
            font-size: 2.2rem;
            color: #888;
        }

        h3 {
            color: #555;
        }
    }

    &__img {
        display: block;
        height:20rem;
    }
}

.services {
    padding: 8rem 2rem;

    &__grid {
        display: grid;
        grid-template-columns:repeat(3,1fr);
        max-width: 120rem;
        margin: 10rem auto;
        box-shadow: 0 0 .5rem rgba(0,0,0,.15);
    }

    .service-item {
        padding: 2rem;
        min-height: 30rem;

        &__number {
            color: purple;
            font-size: 3rem;
            letter-spacing: 1px;
        }

        &__title {
            margin-top: 1rem;
            font-size: 2rem;
        }

        &__description {
            font-size: 1.6rem;
            margin-top: 1rem;
        }

        &:nth-child(odd){
            background: #f5f5f5;
        }
    }
}


.section-heading {
    font-size: 4rem;
    text-align: center;
    color: #555;
    font-weight: normal;
    user-select: none;
}

.features {
    background: #f5f5f5;
    padding: 10rem 2rem;
}

.figcap {
    max-width: 120rem;
    margin: 0 auto 10rem auto;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2,1fr);

    &__img {
        display:block;
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        font-size: 3.5rem;
        color: #333;
        font-weight: normal;
    }

    &__text {
        font-size: 1.8rem;
        margin-top: 2rem;
    }

    &__btn {
        font-size: 1.8rem;
        margin-top: 3rem;
    }
}

.stats {

    background: #fff;
    padding: 10rem 2rem;

    &__grid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 120rem;
        margin: 0 auto;
    }

    .stat-item {
        text-align: center;

        &__figure {
            font-size: 7rem;
            color: purple;
        }

        &__text {
            font-size: 3rem;
            color: #555;
        }
    }


}


.testimonial {
    background: #333;
    padding: 10rem 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;

    &__text {
        font-size: 2rem;
        color: #fff;
        max-width: 120rem;
        margin-top: 2rem;
    }

    &__person {
        color: #fff;
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    &__person-title {
        color: #bbb;
    }
}


.footer {
    padding: 6rem 0;
    background: #fff;
    text-align:center;
    font-size: 1.6rem;
}

.main-view {
    min-height: 80vh;
    padding-top: 10rem;
    background: linear-gradient(to bottom left, rgba(255,255,255,.4), rgba(255,255,255,.5)), url('/public/assets/img/tax_img.jpg') center / cover;
    border-bottom: 5px solid #ccd7dc;
}

.contact-section {
    min-height: 70vh;
    max-width: 120rem;
    margin:5rem auto;
    display:grid;
    grid-template-columns:30rem auto;
    box-shadow: 0 0 1rem rgba(0,0,0,.24);

    &__sidebar {
        background: #ccd7dc;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    &__main {
        background: #fff;
        padding: 2rem;
    }
}

.form-group {
    margin: 1.5rem 0;
}

.text-field {
    display:block;
    height:5rem;
    width: 100%;
    border: 1px solid #ccc;
    position: relative;
    transition: border .3s;

    &:focus-within {
        border: 1px solid rgb(134, 190, 235);
    }

    &__input {
        display: block;
        position: absolute;
        left:0;
        bottom:2px;
        width: 100%;
        font-size:2.2rem;
        border:none;
        padding-left: 2px;
        outline: none;
        color: #555;
        font-family: inherit;
    }

    &__label {
        pointer-events:none;
        position: absolute;
        left: 3px;
        bottom: 0;
        font-size: 2.4rem;
        z-index: 2;
        color: #888;
        transition: all .3s;
    }

    &__input:focus + &__label,
    &__input:not(:placeholder-shown) + &__label {
        transform: translateY(-2.8rem);
        font-size: 1.2rem;
    }
}

.textarea {
    font-size: 1.6rem;
    font-family:inherit;
    color: #555;
    padding: 3px;
    display: block;
    width:100%;
    min-height: 25rem;
    resize:none;
    border: 1px solid #ccc;
    outline:none;
}

.grid {
    display: grid;
    grid-gap: 2rem;

    &--2 {
        grid-template-columns:repeat(2,1fr);
    }
}

.heading2 {
    font-size: 2.4rem;
    color: #333;
    user-select: none;
}

.contact-info{

    margin: 3rem 0;

    h3 {
        font-size: 1.6rem;
        color: #555;
    }

    p {
        font-size: 1.4rem;
        color: #555;
    }

    .mail-link,
    .mail-link:link,
    .mail-link:visited {
        text-decoration: none;
        color: #555;
    }
}

.contact-portrait {
    display: block;
    width: 100%;
    border: 3px solid #e9f3f8;
}

.subbut {
    border:none;
    background:#5f8fa3;
    color: #fff;
    font-family: inherit;
    font-size:2rem;
    border-radius: .5rem;
    padding:.8rem 1rem;
    cursor:pointer;
    transition: background .3s;

    &:hover {
        background: #4c7282;
    }
}


.errbox {
    display:none;
    width:100%;
    list-style:none;
    background: #fff2f2;
    border: 1px solid #f00;
    color: #f00;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.4rem;

    &.render {
        display:block;
    }
}

.request-consultation-section {
    background: #fff;
    max-width: 120rem;
    margin:6rem auto;
    padding: 2rem;

    &__heading {
        display:flex;
    }

    &__image {
        display: block;
        max-width: 30rem;
    }

    &__heading-content {
        flex-grow: 1;
        background: #eee;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;

        p {
            font-size: 1.6rem;
            margin-top: 1.4rem;
        }

        h2 {
            font-size: 3rem;
            color: #333;
            text-align:center;
        }
    }

}

.consult-form {
    max-width:80rem;
    margin:4rem auto;
}

.select-field {
    border: 1px solid #ccc;
    display:block;
    height:5rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;

    &__input {
        position: absolute;
        left:0;
        bottom:0;
        width: 100%;
        border:none;
        height:3.5rem;
        font-size: 2.2rem;
        font-family: inherit;
        outline:none;
        color: #555;
    }

    &__label {
        pointer-events: none;
        font-size: 2.2rem;
        position: absolute;
        left:2px;
        bottom: 0;
        color: #888;
        transition: .3s all;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }
}

.fieldset {
    border:none;
    margin:3rem 0;

    legend {
        font-size: 1.4rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 2rem;
    }

    &__content {
        &--flex {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 4rem;
        }
    }
}

.checkbox-field {

    display: flex;
    align-items: center;
    column-gap: .5rem;

    &__input {
        appearance: none;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid #ccc;
        cursor: pointer;

        &:checked {
            background: #5f8fa3;
        }

       
    }

    &__label {
        font-size: 1.4rem;
        color: #555;
    }
}


@media (max-width: 850px) {
    .header {
        height:auto;
        width: 100%;

        .menu-toggle {
            display:flex;
        }

        .container {
            flex-direction: column;
            width: 100%;
            height: auto;
            align-items: flex-start;
        }

        &__one {
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 10rem;
            padding: 1.5rem;
        }

        &__two {
            padding: .5rem 0;
            border-top: 1px solid #ccc;
            width: 100%;
            order: -2;
            border-bottom: 1px solid #ccc;
            background: #fdfdfd;
        }

        &__nav {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            a,
            a:link,
            a:visited {
                margin: 0 .8rem;
                padding: 1rem;
                letter-spacing: 0;
                font-size: 1.6rem;
                color: #555;

                &.hide-mobile {
                    display:none;
                }
            }

            
        }
    }

    a.link-btn,
    a.link-btn:link,
    a.link-btn:visited {
        background: transparent;
        border:none;
        padding:0;
        color: #555;

        &:hover {
            background: transparent;
        }
    }

    .hero {
        padding: 20rem 2rem;
    }

    .about-brief {
        font-size: 2rem;
    }

    .portrait-box {
        height: 15rem;
        max-width: 30rem;

        &__img {
            height: 15rem;
        }

        &__content {
            height: 14rem;
            text-align:center;
        }
    }


    .services {

        padding: 6rem 2rem;

        &__grid {
            display: block;
            margin: 6rem auto;
        }

    }

    .stats {
        &__grid {
            flex-direction: column;
            align-items: center;
            grid-gap: 8rem;
        }
    }

    .features {
        padding: 6rem 2rem;
    }

    .figcap {
        grid-template-columns: auto;
        max-width: 50rem;

        &__title {
            font-size: 2.6rem;
        }

       

        &__img--alt {
            order: -1;
        }
    }

    .section-heading {
        font-size: 3.2rem;
    }

    .service-item {
        padding: 4rem 2rem;
    }

    .testimonial {

        &__text {
            font-size: 1.8rem;
            padding: 0 .8rem;
        }
    }

    .main-view {
        padding:14rem 2rem;
    }

    .contact-section {
        display: block;

        &__sidebar {
            align-items: center;
        }
    }

    .grid {
        display: block;
    }

    .contact-info {
        text-align: center;
        p {
            margin:.5rem 0;
        }
    }

    .contact-portrait {
        max-width: 20rem;
    }

    .request-consultation-section{

        overflow: hidden;

        &__heading {
            display: block;
        }

        &__image {
            margin:0 auto;
            width: 100%;
            max-width: 18rem;
        }

        &__heading-content {
            background: #fff;
        }

    }
}


